<h3>documents/show</h3>
<article class="show">
    <h3>{{document.title}}</h3>
    <div class="detail author">
        <span>Type:</span> {{docuement.author}}
    </div>
    <div class="detail date">
        <span>Type:</span> {{document.date}}
    </div>
    <div class="detail location">
        <span>Location:</span> {{document.location}}
    </div>
    <div class="detail content">
    </div>
    {{outlet}}
</article>
